  body {
      background: #E4D4BD;
      margin: 0;
      padding: 0;

      color: #3d3d3d;
      width: 100%;
  }


  a {
      text-decoration: none;
      color: inherit;
  }

  

  /* Navbar */
  header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0px 2rem;
      background: #F1E4D4;
      background-color: inherit;
      position: sticky;
      top: 0;
      z-index: 10;

  }

  header>h1 {
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
  }

  header>.menu-toggle {
      display: none;
      font-size: 1.5rem;
      background: none;
      border: none;
      cursor: pointer;
      color: #333;
  }

  header>nav {
      width: 70%;
      justify-items: center;
  }

  header>nav>ul {
      display: flex;
      gap: 5px;
      list-style: none;
      justify-content: space-evenly;

      width: 80%;
  }

  header>nav>ul>li {
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 0.95rem;
      border-radius: 20px;
      padding: 5px 15px;
      transition: 0.3s linear all;

      user-select: none;
  }

  header>nav>ul>li:hover {
      background-color: #A56A4B;
      color: #fff;
      transform: scale(1.05);
      transition: 0.3s linear all;
      cursor: pointer;
  }

  header>nav>ul>li:active {
      transform: scale(0.95);
      transition: 0.3s linear all;
  }



  .btn {
      background-color: #414141;
      color: #daceb8;
      border-radius: 0.25rem;
      font-size: 0.9rem;
      padding: 5px 12px;
      border-radius: 20px;
      user-select: none;
      transition: 0.3s linear background-color;
  }

  .btn:hover {
      background-color: #575757;
      transition: 0.3s linear background-color;
  }

  .btn:active {
      background-color: #414141;
      transition: 0.3s linear background-color;
  }

  .btn1 {
      background-color: #A56A4B;
      color: #daceb8;
      border-radius: 0.25rem;
      font-size: 0.9rem;
      padding: 5px 12px;
      border-radius: 20px;
      user-select: none;
      transition: 0.3s linear background-color;
  }

  .btn1:hover {
      background-color: #c07b56;
      transition: 0.3s linear background-color;
  }

  .btn1:active {
      background-color: #A56A4B;
      transition: 0.3s linear background-color;
  }

  .btn2 {
      background-color: #E5D6BD;
      color: #A56A4B;
      border-radius: 0.25rem;
      font-size: 0.9rem;
      padding: 5px 12px;
      border-radius: 20px;
      user-select: none;
      transition: 0.3s linear background-color;
  }

  .btn2:hover {
      background-color: #A56A4B;
      color: #E5D6BD;
      transition: 0.3s linear background-color;
  }

  .btn2:active {
      background-color: #E5D6BD;
      color: #A56A4B;
      transition: 0.3s linear background-color;
  }

  .btn3 {
      background-color: inherit;
      border: 1px solid #A56A4B;
      color: #A56A4B;
      border-radius: 0.25rem;
      font-size: 0.9rem;
      padding: 5px 12px;
      border-radius: 20px;
      user-select: none;
      transition: 0.3s linear all;
  }

  .btn3:hover {
      background-color: #A56A4B;
      color: #fff;
      transition: 0.3s linear all;
  }

  .btn3:active {
      background-color: #A56A4B;
      transition: 0.3s linear all;
  }

  .btn *,
  .btn1 *,
  .btn2 *,
  .btn3 * {
      user-select: none;
  }

  .cursor_Pointer
  {
    cursor: pointer;
  }

  .no-Border {
      border: none;
  }


  .frontVissble {
    position: relative;
    z-index: 2;
}

.light-textColor {
    color: #daceb8;
}

.dark-textColor {
    color: #3d3d3d;
}

.brown-textColor {
    color: #A56A4B;
}

.light-backgroundColor {
    background-color: #daceb8;
}

.light-Line {
    width: 150px;
    height: 3px;
    background-color: #E5D6BD;
    margin: 40px 0px
}

.dark-backgroundColor {
    background-color: #3d3d3d;
}

.dark-Line {
    width: 100px;
    height: 3px;
    background-color: #3d3d3d;
    margin: 30px 0;
}

.brown-backgroundColor {
    background-color: #A56A4B;
}

.brown-Line {
    width: 100px;
    height: 3px;
    background-color: #A56A4B;
    margin: 30px 0px;
}

.inhernit-backgroundColor {
    background-color: inherit;
}

.fitPadding_By_Element{
  width: fit-content;
}




  /* Hero */
  .hero {
      height: 866px;
      width: 100%;
      /* position: relative; */
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .hero>.hero-content {
      background: url('../images/FirstImage.png') no-repeat center center;
      background-size: 100% 100%;
      height: 100%;
      width: 100%;

      padding-top: 50px;

      position: relative;
      z-index: 2;
      text-align: center;
  }

  .hero>.hero-content>h1 {
      font-size: 2.5rem;
      color: #A56A4B;
      margin: auto;
      margin-bottom: 1rem;
      padding-top: 100px;
      font-family: 'Tenor Sans', sans-serif;
      font-weight: normal;
      font-size: 47.8px;

      width: 480px;
      line-height: 100%;
  }

  .hero>.hero-content>.headBuild {
      font-family: 'Open Sans', sans-serif;
      font-size: 22.95px;
      margin-bottom: 0.5rem;
  }

  .hero>.hero-content>.description {
      margin: auto;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-size: 15.21px;
      width: 380px;
      /* border: 1px solid black; */

      margin-bottom: 1.5rem;
  }

  .hero>.hero-content>.sideBar {
      margin: 0.5rem 0 1.5rem;
      width: 100px;
      height: 3px;
      background-color: #A56A4B;
      margin: auto;
  }



  .hero>.hero-content>.buttonGroup {
      display: flex;
      justify-content: center;
      gap: 20px;
  }


  .hero>.bottomBackground {
      position: absolute;

      margin-top: 818px;
      left: 0;
      width: 100%;
      height: 150px;
      background-color: #A56A4B;
      z-index: 1;
  }


  /* Stats */
  .stats {
      position: relative;
      display: flex;

      background: #4A4A4A;
      color: #daceb8;
      padding: 2rem 0;
      height: 250px;
      margin-top: 50px;
      width: 100%;

      justify-content: space-around;
      align-items: center;
  }

  .stat {
      justify-items: center;
      margin: auto;
  }

  .stat>h3 {
      font-family: 'Tenor Sans', sans-serif;
      font-size: 52.34px;
      font-weight: lighter;
      margin: 0;
  }

  .stat>p {
      font-size: 17.05px;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
  }

  /* Services */
  .services {
      position: relative;
      padding: 0px;
      justify-items: center;
      background: #F1E4D4;
      padding-bottom: 50px;
      padding-top: 100px;
  }

  .services>.service-region {
      width: 100%;
      justify-items: center;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
  }

  .services>.service-region>.cir-left {
      margin-left: -2px;
      margin-top: 10px;
      border: 2px solid #333;
      border-radius: 0px 30px 30px 0px;
      width: 120px;
      height: 70px;
  }

  .services>.service-region>.cir-right {
      margin-right: -5px;
      margin-top: 10px;
      border: 2px solid #333;
      border-radius: 30px 0px 0px 30px;
      width: 120px;
      height: 70px;
  }

  .services>.service-region>.service-introduce {
      justify-items: center;
  }

  .services>.service-region>.service-introduce>h2 {
      font-family: 'Tenor Sans', sans-serif;
      font-weight: normal;
      color: #A56A4B;
      font-size: 47.78px;
      text-align: center;
      margin: 0px;
  }

  .services>.service-region>.service-introduce>p {
      font-family: 'Tenor Sans', sans-serif;
      font-size: 15.21px;
      font-weight: bold;

      margin: auto;
      margin-top: 10px;
      padding-bottom: 80px;
      text-align: center;
      width: 44%;
  }


  .service-items {
      display: flex;
      justify-content: space-between;

  }

  .service {
      justify-items: center;
      justify-content: center;
      text-align: center;

  }


  .service>img {
      width: 250px;
      height: 250px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 1rem;
  }

  .service>h3 {
      margin-bottom: 0px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      /* 600 là semibold */
      color: #A56A4B;
  }

  .service>p {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;


      font-size: 0.9rem;
      color: #555;
      margin-bottom: 1rem;
      margin: auto;
      margin-top: 0px;
      margin-bottom: 20px;

      text-align: center;
      width: 50%;

  }

  .service .btn {
      /* background-color: #A56A4B; */
      color: #A56A4B;
      border: 1px solid #A56A4B;
      border-radius: 10px;
      padding: 2px 10px;
      font-size: 0.85rem;
  }

  /* Projects */
  .projects {
      width: 100%;
      display: flex;
      position: relative;
      /* overflow: hidden; */
  }

  .projects>.proj-text {
      position: relative;
      display: flex;

      justify-items: center;
      justify-content: center;

      align-items: center;
      padding: 2rem;
      width: 50%;
  }

  .projects>.proj-text>.proj-introduce {
      width: 40%;
      margin: auto;
  }

  .projects>.proj-text>.proj-introduce>h1 {
      font-family: 'Tenor Sans', sans-serif;
      font-size: 47.87px;
      width: 100%;
      font-weight: lighter;
      line-height: 100%;
  }

  .projects>.proj-text>.proj-introduce>p {
      font-family: 'Open Sans', sans-serif;
      font-size: 15.21px;
      text-align: left;
      justify-content: left;
      width: 100%;
      padding-bottom: 5px;
  }



  .projects>.imageContainer_For1 {
      background-color: #A56A4B;
      width: 50%;
  }

  .projects>.imageContainer_For1>img {
      width: fit-content;
      margin-left: -180px;
      margin-top: 100px;
      margin-bottom: 100px;
  }

  .projects>.imageContainer_For4 {
      position: relative;
      z-index: 2;
      width: 50%;
  }

  .projects>.imageContainer_For4>img {
      width: 80%;
  }

  .projects>img {
      object-fit: cover;
      width: 50%;
  }





  .projects .nav-arrows {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      display: flex;
      gap: 0.5rem;
  }

  .projects .nav-arrows span {
      display: inline-block;
      width: 30px;
      height: 30px;
      border: 1px solid #fff;
      color: #fff;
      line-height: 28px;
      text-align: center;
      cursor: pointer;
      user-select: none;
  }

  .projects .nav-arrows span:hover {
      background: #fff;
      color: #A56A4B;
      transition: 0.3s linear all;
  }


  .projects>.project-bottomBackground_F2 {
      position: absolute;
      z-index: 1;
      bottom: -50px;
      left: 0;
      width: 100%;
      height: 30%;
      background-color: #A56A4B;
  }

  .projects>.image_Forniture2 {
      position: relative;
      z-index: 2;
      right: 0;
  }

  .projects>.containerForm>.image_Fornuture5 {
      width: 100%;
      right: -200px;
  }

  .projects>.containerForm {
      width: 50%;
      justify-items: center;
  }


  .projects>.bottomForniture4Background {
      position: absolute;
      z-index: 1;
      bottom: -10px;
      left: 0;
      width: 100%;
      height: 10%;
      background-color: #4A4A4A;
  }

  .projects>.bottomForniture3Background {
      position: absolute;
      z-index: 1;
      bottom: -50px;
      left: 0;
      width: 100%;
      height: 30%;
      background-color: #d7c6af;
  }

  .newsletter-info {
      width: 100%;
  }

  .newsletter-info>h1 {
      font-size: 44px;
      text-align: center;
      font-family: 'Tenor Sans', sans-serif;
      line-height: 100%;
      font-weight: lighter;
      width: 50%;
      margin: auto;

      margin-bottom: 1rem;
  }



  .newsletter-form {

      display: flex;
      flex-direction: column;
      
      justify-content: center;

      justify-self: center;

      gap: 10px;
      width: 100%;
      padding-bottom: 20px;

      position: relative;
      z-index: 2;
  }

  .newsletter-form button {
    justify-self: center;
    margin: auto;
    padding: 10px 15px;
  }

  .newsletter-form>.text_form {
      border: 2px solid #A56A4B;
      background: transparent;
      color: #A56A4B;
      flood-color: red;
      border-radius: 20px;
      height: 20px;
      width: 70%;
      padding: 10px;

      margin: auto;
      margin-bottom: 10px;
  }

  .newsletter-form>.text_form:hover {
      border: 2px solid #c07b56;
  }

  .newsletter-form>textarea {
      max-width: 70%;
      min-width: 70%;
      min-height: 50px;
      max-height: 120px;

      margin: auto;
  }

  .text_form::placeholder,
  .newsletter-form textarea::placeholder {
      color: #A56A4B;
  }



  /* Footer */
  footer {
      background: #4A4A4A;
      color: #fff;

      padding: 2rem;
      padding-bottom: 100px;

      display: flex;
      justify-content: space-around;

      flex-wrap: wrap;

      margin-top: 0px;
      font-family: 'Open Sans', sans-serif;

  }

  footer>.footer-col {
      text-align: left;
      gap: 1rem;

  }

  footer>.footer-col>h4 {
      margin-bottom: 1rem;
      margin-top: 70px;
      font-size: 1rem;
  }

  footer>.footer-col>ul {
      list-style: none;
      font-weight: bold;
      padding-left: 0px;
      width: fit-content;

  }

  footer>.footer-col>ul>li {
      margin-bottom: 0.5rem;
      font-size: 0.9rem;
      color: #ccc;
      user-select: none;
      cursor: pointer;
  }


  footer>.footer-col>ul>li:hover {
      color: #fff;
  }

  footer>.footer-col>.social-icons {
      display: flex;
      gap: 0.75rem;
      margin-top: 60px
  }

  footer>.footer-col>.social-icons>a>img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      transition: 0.03s linear all;
  }

  footer>.footer-col>.social-icons>a>img:hover {
      transform: scale(1.15);
      transition: 0.03s linear all;
  }



  @media only screen and (min-width: 390px) and (max-width: 767px) {




      header {
          flex-direction: row;
          padding: 0px;
          width: 100%;

      }

      header>.menu-toggle {
          display: block;
      }

      header>nav {

          list-style: none;
          width: fit-content;
      }

      header>nav>ul {
          display: none;
          flex-direction: column;
          gap: 10px;
          background-color: #F1E4D4;
          position: absolute;
          top: 30px;
          left: 10px;
          width: 60%;
          padding: 10px 10px;

          border: 1px solid #A56A4B;
          border-radius: 10px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
      }


      header nav>ul.active {
          display: flex;
      }

      header>nav>ul>li {
          font-size: 0.8rem;
          border-radius: 0px;
      }

      header>h1 {
          font-size: 1rem;
          margin-bottom: 10px;
      }

      .hero {
          height: 500px;

      }

      .hero>.hero-content>h1 {
          font-size: 35px;

          padding-top: 50px;
          width: 100%;
      }

      .hero>.hero-content>.headBuild {
          font-size: 20px;
      }

      .hero>.hero-content>.description {
          font-size: 14px;
          width: 280px;
      }



      .hero>.hero-content>.buttonGroup {
          flex-direction: column;
          gap: 10px;
          margin: auto 100px;
      }




      .hero>.bottomBackground {
          margin-top: 470px;
          height: 70px;
      }

      .stats {
          flex-direction: column;
          height: auto;
          width: 100%;
          margin-top: 20px;
          padding: 2rem 0;
      }

      .stat {
          margin-top: 20px;
      }

      .stat>h3 {
          font-size: 45px;
      }

      .stat>p {
          font-size: 15px;
      }

      /* Services */
      .services {
          padding-top: 60px;
      }


      .services>.service-region>.cir-left {
          border-radius: 0px 20px 20px 0px;
          width: 30px;
          height: 40px;
      }

      .services>.service-region>.cir-right {
          border-radius: 20px 0px 0px 20px;
          margin-right: -5px;
          width: 32px;
          height: 40px;
      }



      .services>.service-region>.service-introduce {
          width: 100%;
      }

      .services>.service-region>.service-introduce>h2 {
          margin-top: 5px;
          font-size: 35px;
      }

      .services>.service-region>.service-introduce>p {
          width: 100%;
          font-size: 15px;
          margin-top: 5px;
      }


      .service-items {
          flex-direction: column;

      }

      .service {
          margin: 20px 0px
      }



      .service>p {
          margin-bottom: 20px;
          width: 80%;
      }


      /* Projects */
      .projects {
          flex-direction: column;
          width: 100%;
      }

      .projects>.proj-text {
          flex-direction: column;
          width: auto;
      }


      .projects>.proj-text>.proj-introduce>h1 {
          line-height: 100%;
      }

      .projects>.imageContainer_For1 {
          width: 100%;
          height: fit-content;
      }

      .projects>.imageContainer_For1>img {
          width: 100%;
          margin-left: -50px;
      }

      .projects>.imageContainer_For4 {
          width: 100%;
      }

      .projects>.imageContainer_For4>img {
          width: 100%;
          height: fit-content;
      }

      .projects>.project-bottomBackground_F2 {
          height: 20%;
      }

      .projects img {
          object-fit: cover;
          width: 100%;
      }



      .projects>.proj-text>.proj-introduce {
          width: 100%;
      }

      .projects>.proj-text>.proj-introduce>h1 {
          line-height: 100%;
      }

      .projects>.proj-text>.proj-introduce>p {
          text-align: left;
          justify-content: left;
          margin-bottom: 20px;
      }

      .projects>.bottomForniture4Background {
          display: none;
      }


      .projects>.containerForm {
          width: 100%;
          position: relative;
          z-index: 2;
      }


      footer {
          flex-wrap: wrap;
          justify-content: unset;

      }

      footer>.footer-col {
          margin-right: 20px;
      }
  }